$pink-four:#dc4b82;
$pink-tree:#e282a4;
$pink-two:#f0c6d7;
$pink-one:#f9eaf1;
$gray-one:#fdfdfd;
$gray-two:#e9ebea; 
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

  .bg-gray {background-color: $gray-one;}
  .bg-pink {background-color: $pink-one;}

  body {
        //background-image: url(../img/patron.jpg);
        background-size: 10%;
        background-attachment: fixed;
  }


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    ul.list {
        list-style: none;
        li {
            border-top: thin solid black;
            h2 {
                display: block;
                font-size: 12px !important;
            }
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    ul.list {
        list-style: none;
        li {
            h2 {
                display: block;
                font-size: 12px !important;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  
    .special-card {
        border-radius: 35px 0px 35px 0px !important;
        border-bottom-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }
    .special-card-two {
        border-radius: 0px 35px 0px 35px !important;
        border-top-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }
    .bg-image {
        padding-bottom: 300px;
        background-color: $pink-one;
        border-radius: 35px 0px 0px 0px !important;
        background-size: cover;
        background-position: center;
    }
    .bg-image-two {
        padding-bottom: 300px;
        background-color: $pink-two;
        border-radius: 0px 35px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-three {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 35px 0px 35px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-four {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 35px 0px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    ul.list {
        list-style: none;
        li {
            h2 {
                display: block;
                font-size: 12px !important;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .special-card {
        border-radius: 35px 0px 35px 0px !important;
        border-bottom-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }
    .special-card-two {
        border-radius: 0px 35px 0px 35px !important;
        border-top-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }

    .bg-image {
        padding-bottom: 300px;
        background-color: $pink-one;
        border-radius: 35px 0px 0px 0px !important;
        background-size: cover;
        background-position: center;
    }
    .bg-image-two {
        padding-bottom: 300px;
        background-color: $pink-two;
        border-radius: 0px 35px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-three {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 35px 0px 35px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-four {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 35px 0px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    ul.list { 
        list-style: none;
            li {
                h2 {
                    display: block;
                    font-size: 12px !important;
                }
            }
        }
  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .special-card {
        border-radius: 45px 0px 45px 0px !important;
        border-bottom-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }
    .special-card-two {
        border-radius: 0px 45px 0px 45px !important;
        border-top-color: #00e079 !important;
        border-right-color: #7ee8b8 !important;
    }

    .bg-image {
        padding-bottom: 300px;
        background-color: $pink-one;
        border-radius: 45px 0px 0px 0px !important;
        background-size: cover;
        background-position: center;
    }
    .bg-image-two {
        padding-bottom: 300px;
        background-color: $pink-two;
        border-radius: 0px 45px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-three {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 45px 0px 45px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    .bg-image-four {
        padding-bottom: 300px;
        background-color: $pink-tree;
        border-radius: 45px 0px 0px 0px !important;
        background-size: cover;
        background-position: center ;
    }
    ul.list {
        list-style: none;
        li {
            border-top: thin solid #fbfbfb;
    border-bottom: thin solid #fbfbfb;
    padding-top: 7px;
            h2 {
                display: block;
                font-size: 16px !important;
            }
        }
    }
 }

/*@include media-breakpoint-only(xs) {  }
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }*/