.bg-gray {
  background-color: #fdfdfd;
}

.bg-pink {
  background-color: #f9eaf1;
}

body {
  background-size: 10%;
  background-attachment: fixed;
}

@media (max-width: 575.98px) {
  ul.list {
    list-style: none;
  }
  ul.list li {
    border-top: thin solid black;
  }
  ul.list li h2 {
    display: block;
    font-size: 12px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  ul.list {
    list-style: none;
  }
  ul.list li h2 {
    display: block;
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .special-card {
    border-radius: 35px 0px 35px 0px !important;
    border-bottom-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .special-card-two {
    border-radius: 0px 35px 0px 35px !important;
    border-top-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .bg-image {
    padding-bottom: 300px;
    background-color: #f9eaf1;
    border-radius: 35px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-two {
    padding-bottom: 300px;
    background-color: #f0c6d7;
    border-radius: 0px 35px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-three {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 35px 0px 35px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-four {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 35px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  ul.list {
    list-style: none;
  }
  ul.list li h2 {
    display: block;
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .special-card {
    border-radius: 35px 0px 35px 0px !important;
    border-bottom-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .special-card-two {
    border-radius: 0px 35px 0px 35px !important;
    border-top-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .bg-image {
    padding-bottom: 300px;
    background-color: #f9eaf1;
    border-radius: 35px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-two {
    padding-bottom: 300px;
    background-color: #f0c6d7;
    border-radius: 0px 35px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-three {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 35px 0px 35px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-four {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 35px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  ul.list {
    list-style: none;
  }
  ul.list li h2 {
    display: block;
    font-size: 12px !important;
  }
}

@media (min-width: 1200px) {
  .special-card {
    border-radius: 45px 0px 45px 0px !important;
    border-bottom-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .special-card-two {
    border-radius: 0px 45px 0px 45px !important;
    border-top-color: #00e079 !important;
    border-right-color: #7ee8b8 !important;
  }
  .bg-image {
    padding-bottom: 300px;
    background-color: #f9eaf1;
    border-radius: 45px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-two {
    padding-bottom: 300px;
    background-color: #f0c6d7;
    border-radius: 0px 45px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-three {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 45px 0px 45px 0px !important;
    background-size: cover;
    background-position: center;
  }
  .bg-image-four {
    padding-bottom: 300px;
    background-color: #e282a4;
    border-radius: 45px 0px 0px 0px !important;
    background-size: cover;
    background-position: center;
  }
  ul.list {
    list-style: none;
  }
  ul.list li {
    border-top: thin solid #fbfbfb;
    border-bottom: thin solid #fbfbfb;
    padding-top: 7px;
  }
  ul.list li h2 {
    display: block;
    font-size: 16px !important;
  }
}

/*@include media-breakpoint-only(xs) {  }
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }*/
/*# sourceMappingURL=styles.css.map */